<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>LOGIN to your Account.</h1>
    <hr>
    {% if messages %}
    {% for message in messages%}
<p>{{message}}</p>
    {%endfor%}
    {% endif %}
    <form action="" method="POST">
{%csrf_token %}
{{form.as_p}}
<input type="Submit">
    </form>
    <p><a href="{% url 'password_reset'%}"><button>Forget Password</button></a></p>
</body>
</html>